<ion-menu side="start" menuId="first" contentId="main" contentId="principal" swipe-gesture="false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Inventory App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componente | async"
      [routerLink]="c.redirectTo">
        <ion-item>
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{c.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>