<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="menu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">Inventory App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" routerLink="/productos">
    <ion-card-header>
      <ion-card-title>
        Guardar Productos
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" routerLink="/listar">
    <ion-card-header>
      <ion-card-title>
        Listar Productos
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="success" routerLink="/factura">
    <ion-card-header>
      <ion-card-title>
        Factura
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
